@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Red+Hat+Mono:wght@300;400;500&family=Source+Code+Pro:wght@300;400;500;600&display=swap');

/*  font-family: 'Lato', sans-serif;
    font-family: 'Red Hat Mono', monospace;
    font-family: 'Source Code Pro', monospace; */

body{
    box-sizing: border-box;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23c1c0c1' fill-opacity='0.18' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.global-container{
    width: 70%; 
    background-color: #ffffff;  
  
}

header{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.img-container{
    width: 150px;
    height: 150px;
    border:6px solid #345469;
    border-radius: 50%;
    margin-top: 20px;
}

img{
    width: 100%;
    height: auto;  
    border-radius: 50%;
}

h1{
    font-family: 'Source Code Pro', monospace;
    font-size: 60px;
    color:#263d4d;
}

p{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
    color: #345469;
}


main{
    height: 150px;
    text-align: center;
}

.boton{
    display: inline-block;
    width: 250px;
    height: 40px;
    background-color: #345469;
    border-radius: 50px;
    margin-top:10px;
    padding-top:20px;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Source Code Pro', monospace;
}

.boton:hover{
    background-color:  #103650;
}

footer{
    height: 100px;
    margin:30px;
    text-align: center;
}

.fa-github-square,
.fa-linkedin{
    font-size: 50px;
    color: #345469;
    margin: 0 30px 0 30px;
}

.fa-github-square:hover,
.fa-linkedin:hover{
    color: #103650;
}